.Widget {
  text-align: center;
  height:100%;
  background-color: white;
}
#root{
  height:100vh;
}
button{
  height:3rem;
  width:5rem;
  font-size: 1rem;
  background-color: blueviolet;
  color: white;
  font-weight: bold;
  border-color: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Widget-container {
  height: inherit;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heading{
  color: black;
  font-weight: bold;
  font-size: 2rem;
}
